/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/mix-manifest.json
/public/js/app.js.LICENSE.txt

/storage/*.key
/storage/temp.docx
/storage/result.pdf

/vendor
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
